<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mini web framework!</title>
    </head>
    <body>
        <h3>TCP server mini web framework with Go</h3>
        <a href="/">Home</a><br>
        <a href="/about">About</a><br>
        <div>
            {{if .Home }}  {{ template "home"}}  {{end}}
            {{if .About }} {{ template "about"}} {{end}}
        </div>
    </body>
</html>
